:root{
  --color-accent : #44bb44;
}

@font-face {
  font-family: 'Twiggy-Regular';
  src: url('..\\webfonts\\twiggy\\Twiggy-Regular.eot');
  src: url('..\\webfonts\\twiggy\\Twiggy-Regular.eot?#iefix') format('embedded-opentype'),
       url('..\\webfonts\\twiggy\\Twiggy-Regular.svg#Twiggy-Regular') format('svg'),
       url('..\\webfonts\\twiggy\\Twiggy-Regular.ttf') format('truetype'),
       url('..\\webfonts\\twiggy\\Twiggy-Regular.woff') format('woff'),
       url('..\\webfonts\\twiggy\\Twiggy-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

#main_title{
  font-family: Twiggy-Regular;
  font-size: 6em;
  font-weight: 900;
  color: #0f0;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#title_video{
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  object-fit: cover;
}

.banner > .content{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
  border-radius: 20%;
  color: white;
}

#video_credit{
  position: absolute;
  bottom: 0%;
  left: 2%;
  font-size: 1em;
  z-index: 2;
}
