<!DOCTYPE HTML>

<html>
	<head>
		<title>Extinct or Alive</title>
		<link rel="icon" href="assets/images/Tree.ico" type="image/x-icon">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta name="author" content="Meer Piyush Shah">
		<meta name="description" content="This webpage is the final project of the
			CS-484 course at UIC.">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet" href="assets/css/template.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

					<section class="banner style5 orient-left content-align-centre
						image-position-right fullscreen onload-image-fade-in onload-content-fade-right">

						<div class="content">
							<h1 id="main_title">Extinct or Alive</h1>
							<p class="major">
							 	Our planet is headed for disaster, but, if we act now, we can yet
								put it right.
							</p>
						</div>

						<p id="video_credit">
							Video Credit -
							<a href="https://www.bbcearth.com/shows/serengeti-ii">BBC Earth</a>
						</p>

						<a href="\login" id="account_section">
							<img id="account_icon" src="assets\images\lion.png" alt="Account">
							<span id="welcome_text">
								Welcome <span id="username_text">{{user.username}}</span>!
							</span>
						</a>

						<video id="title_video" class="image"
							src="assets\videos\Serengeti_II_Trailer_BBC_Earth.webM"
							autoplay loop muted/>
					</section>

					<section id="chart_section">
					  <canvas id="extinctionRateChart"></canvas>

						<div id="pieChartSection">

							<canvas id="conservationPieChart"></canvas>

							<form name="chart_form" id="chart_form">
								<input type="checkbox" id="ex_check" checked onclick="updateChart('EX');"/>
								<label for="ex_check">Extinct</label>
								<input type="checkbox" id="ew_check" checked onclick="updateChart('EW');"/>
								<label for="ew_check">Extinct in the Wild</label>
								<input type="checkbox" id="cr_check" checked onclick="updateChart('CR');"/>
								<label for="cr_check">Critically Endandgered</label>
								<input type="checkbox" id="en_check" checked onclick="updateChart('EN');"/>
								<label for="en_check">Endandgered</label>
								<input type="checkbox" id="vu_check" checked onclick="updateChart('VU');"/>
								<label for="vu_check">Vulnerable</label>
								<input type="checkbox" id="lr_check" checked onclick="updateChart('LR');"/>
								<label for="lr_check">Lowered Risk</label>
								<input type="checkbox" id="nt_check" checked onclick="updateChart('NT');"/>
								<label for="nt_check">Near Threatened</label>
								<input type="checkbox" id="lc_check" checked onclick="updateChart('LC');"/>
								<label for="lc_check">Least Concerned</label>
								<input type="checkbox" id="dd_check" checked onclick="updateChart('DD');"/>
								<label for="dd_check">Data Deficient</label>
							</form>
						</div>

					</section>

						<div id="recommended_videos">
							<p class="major">
								So, what can we mere mortals do? We can start by educating ourselves
								and spread awareness. Here are some of my recommendations.
							</p>
							<iframe id="video1" width:"1920" height="1080" allowfullscreen=""
								src="https://www.youtube.com/embed/64R2MYUt394">
							</iframe>
							<iframe id="video2" width:"1920" height="1080" allowfullscreen=""
								src="https://www.youtube.com/embed/zTIsxKzpH_k">
							</iframe>

						</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	</body>
</html>
