<!DOCTYPE HTML>

<html>
	<head>
		<title>Extinct or Alive</title>
		<link rel="icon" href="assets/images/Tree.ico" type="image/x-icon">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta name="author" content="Meer Piyush Shah">
		<meta name="description" content="This webpage is the submission for
			assignment 2 of the CS-484 course. It is the first iteration of the main
			website">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="stylesheet" href="assets/css/template.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style5 orient-left content-align-centre image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1 id="main_title">Extinct or Alive</h1>
							<p class="major">
								Species extinction rate is higher than ever. If this problem isn't
								solved soon, we'll be the ones joining this list. But don't worry,
								there's hope, lot's of it.

							</p>
							<ul class="actions stacked">
								<li>
									<a href="/register" class="button big wide smooth-scroll-middle" id="registerButton">
										Register
									</a>
								</li>
								<li>
									<a href="/logout" class="button big wide smooth-scroll-middle" id="logoutButton">
										Logout
									</a>
								</li>
								<li>
									<p id="welcomeText" >Welcome
										<span id="usernameText">{{user.username}}</span>!
									</p>
								</li>
							</ul>
						</div>
						<p id="video_credit">
							Video Credit -
							<a href="https://www.bbcearth.com/shows/serengeti-ii">BBC Earth</a>
						</p>
						<video id="title_video" class="image"
							src="assets\videos\Serengeti II  Trailer  BBC Earth.webm"
							autoplay loop muted/>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>

	</body>
</html>
